@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  
}

/* header */

.header-container-top {
  height: 20px;
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-texto {
  margin-left: 90px;
}

.header-lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.espanol {
  margin-right: 10px;
}

.header-container-bottom {
  position: sticky;
  top: 0;
  background-color: #f0a83e;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0;
  z-index: 5;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 40px;
}

.nav-lista > li {
  padding: 0 10px 0;
  height: 100%;
  display: flex;
  align-items: center;
  transition: .15s;
}

.nav-lista > li > span {
  font-size: 20px;
}

.nav-lista > li:hover {
  background-color: #f5b14a;
  cursor: pointer;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
}

/* main */

.home {
  background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 609px;
  position: relative;
}

.bienvenida {
  position: absolute;
  right: 40px;
  bottom: 30%;
  text-align: center;
}

.bienvenida-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.welcome-sub {
  margin-top: 12px;
  display: block;
}

.comederos-btn {
  display: block;
  color: white;
  background-color: #f0a83e;
  text-decoration: none;
  margin: 12px auto 0;
  padding: 15px 23px;
  width: 140px;
  transition: .15s;
  border-radius: 5px;
}

.comederos-btn:hover {
  background-color: #f5b14a;
}

.destacado {
  margin-top: 20px;
  text-align: center;
}

.productos-destacados {
  font-size: 40px;
}

.links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.link {
  padding: 0 13px 0;
  transition: .2s;
}

.link:hover {
  cursor: pointer;
  letter-spacing: 1.5px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 50px 0 80px;
}

.card {
  width: 265px;
  margin: 0 10px 0;
  background-color: #FBFAF6;
  padding: 8px;
  transition: .2s;
}

.card:hover {
  cursor: pointer;
  position: relative;
  width: 290px;
}

.card-title{
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.card-price {
  color: #F0A83E;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  color: #3C2313;
  margin-bottom: 20px;
}

.contact-input {
  display: block;
  margin-bottom: 10px;
  width: 340px;
  height: 40px;
  border-radius: 15px;
  background-color: #3C2313;
  border: solid 1px #3C2313;
  color: white;
  padding-left: 15px;
  outline: none;
}

.contact-input::placeholder { 
  color: white; 
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.button {
  margin: 3px;
  width: 110px;
  height: 34px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reset {
  background-color: #8A8787;
}

.send {
  background-color: #F0A83E;
}

.send:hover {
  background-color: #f5b14a;
}

.reset:hover {
  background-color: #979595;
}

.subscribe-bar {
  width: 100%;
  height: 60px;
  background-color: #F0A83E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-text {
  display: flex;
  margin-left: 25px;
  align-items: center;
}

.subscribe-here {
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

.subscribe-input {
  width: 265px;
  height: 40px;
  border-radius: 15px;
  border: none;
  padding-left: 8px;
  font-size: 11px;
  margin-right: 1.5px;
  outline: none;
  color: #A0A0A0;
}

.subscribe-input::placeholder {
  color: #A0A0A0;
}

.subscribe-btn {
  width: 75px;
  height: 34px;
  border-radius: 15px;
  background-color: #3C2313;
  color: white;
  font-size: 11px;
  margin-right: 50px;
  cursor: pointer;
  transition: .15s;
  border: none;
}

.subscribe-btn:hover {
  background-color: #472c1b;
}

.big-footer {
  display: flex;
  width: 100%;
  background-color: #3C2313;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  padding: 20px 0 20px 70px;
}

.info-data {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.info-title {
  color: white;
  font-size: 20px;
}

.info-sub {
  color: #8A8787;
  font-size: 12px;
}

.logo-footer-catdog {
  color: #F0A83E;
}

.logo-footer {
  font-weight: bold;
  color: #ffffff;
  font-size: 23px;
  margin-right: 75px;
}

.derechos-reservados {
  height: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}